.container {
    position: fixed;
    bottom: 0;
    background-color:#ffd835;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333; 
    padding: 20px 0;
    width: 100%;
   
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
}